div.about-container {
  /* align-items: center; */
  text-align: center;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  align-content: center;
  width: 90vw;
}

h1.current-user-greeting, h1.about-sub-greeting, ul.current-user-options, p.explanatory-text, blockquote, a#wiki-link {
  font-family: Inter, sans-serif;
}

#about-logo {
  width: 15vw;
  margin-bottom: -2.5vh;
}

#about-logo:hover {
  animation: wiggle 2.5s;
  animation-fill-mode: forwards;
}

div#about-grid-container {
  display: inline-grid;
  grid-template-columns: 3;
  column-gap: 2vw;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

div#about-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

div#about-vr-container {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 4vw;
  border-left: black;
  border-left-width: 1vw;
  display: flex;
}

hr#about-vr {
  opacity: 45%;
  margin-top: 4vh;
}



div#about-2 {
  grid-column-start: 3;
  grid-column-end: 3;
}

blockquote#wiki-quote {
  font-style: italic;
  text-decoration: none;
  transition: .25s;
  background-color: none;
  text-align: left;
  line-height: 3.2vh;
  opacity: 45%;
}

a#wiki-link {
  font-style: italic;
  text-decoration: none;
  transition: .25s;
  background-color: none;
  text-align: right;
  align-items: flex-end;
  align-self: flex-end;
  margin-left: auto;
  margin-right: 0vw;
}

a#wiki-link:hover {
  font-style: italic;
  color: #979cc6;
  cursor: pointer;
  transition: 0.2s;
  /* font-weight: 700; */
  transition: .25s;
  text-shadow: 0px 0px 2px #ccd4ff;
  background-color: none;

}
h1.current-user-greeting {
  font-size: 3vw;
}

h1.about-sub-greeting {
  margin-top: 2vh;
  font-size: 2.5vw;
}

span#current-user-username {
  /* font-style: oblique; */
  font-weight: 600;
}

hr.current-user-hr {
  width: 33vw;
  margin-left: auto;
  margin-right: auto;
}


img#skull-buddy-ani-about {
  object-fit: contain;
  width: 20vw;
  height: 20vw;
  transition: 5s;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #979cc6;
}

li.user-option, #current-user-profile-link, #edit-current-user-profile-link {
  transition: 0.2s;
  text-decoration: none;
  color: black;
}

li.user-option:hover {
  color: #979cc6;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: underline;
  font-weight: 700;
}

img#skull-buddy-ani-about:hover {
  transition: 1s;
  box-shadow: 0px 0px 10px #979cc6;
  filter: hue-rotate(275deg);
}

div#current-user-whitespace > br.whitespace {
  margin-bottom: 20vw;
} 

img.danger-image {
  display: none;
  position: absolute;
  align-self: center;
}

img.cat-activate {
  transition: .5s;
  display: flex;
  position: absolute;
  bottom: -100vh;
  left: 5.05vw;
  scale: 120%;
  object-fit: cover;
  width: 87.75vw;
  z-index: 9999;
  align-self: center;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

h1.silent-text {
  display: none;
}

h1.danger-text {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 4vw;
  display: flex;
  color: white;
  position: absolute;
  z-index: 10002;
} 

h1.danger-text:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

h1#danger-text-1 {
  text-align: left;
  left: 3vw;
  bottom: 65vh;
  text-shadow: 0 0 2px black;
}

h1#danger-text-2 {
  text-align: right;
  margin-right: 5vw;
  left: 3vw;
  bottom: -30vh;
  text-shadow: 0 0 5px black;
}

h1#danger-text-3 {
  text-align: center;
  margin-right: 5vw;
  left: 3vw;
  bottom: -120vh;
  text-shadow: 0 0 2px black;
}

p.explanatory-text {
  text-align: justify;
  line-height: 3.2vh;
  margin-bottom: 3.5vh;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}