div#comment-form-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(188, 208, 228, 0.436);
  height: min-content;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-radius: 25px;
  margin-left: 4vw;
  margin-right: auto;
  margin-bottom: 4vh;
  align-items: center;
  font-family: Inter, sans-serif;
}

#comment-form-label {
  margin-bottom: 2vh;
  font-size: 1.5vw;
  margin-left: 1vw;
  margin-right: auto;
}

input#comment-input {
  width: 30vw;
  height: 1vh;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 2vw;
  align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.5vw;
  border: #c3c3c3;
  border-style: solid;
  border-width: 1px;
  border-radius: 75px;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

button#submit-comment-button {
  transition: 0.5s;
  width: 20vw;
  height: 8vh;
  align-items: center;
  margin-top: 1vh;
  margin-right: 0vw;
  margin-left: auto;
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  border: solid;
  border-width: 0.5px;
  border-color: #34374d;
  border-radius: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
    
button#submit-comment-button:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #34374d;
  color: white;
}