div.comment-panel-container {
  width: 50vw;
  background-color: rgba(188, 208, 228, 0.436);
  height: min-content;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  padding-bottom: 4vh;
  border-radius: 25px;
  margin-left: 4vw;
  margin-right: auto;
  font-family: Inter, sans-serif;
}

h3.commenter-username, #link-to-profile {
  font-weight: 700;
  font-size: 1.5vw;
  text-decoration: none;
  color: black;
  transition: .5s;
}

h3.commenter-username:hover {
  color: #979cc6;
  transition: .5s;
}

p#comment-timestamp {
  margin-top: 1vh;
  font-weight: 300;
  font-style: oblique;
}

p.comment-body {
  margin-top: .75vw;
  margin-left: 4vw;
  opacity: 55%;
  font-style: oblique;
}
