.edit-modal {
  text-align: center;
  align-self: center;
  /* width: 60vw;
  height: max-content; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: rgb(255, 255, 255);
  display: flexbox;
  border-radius: 25px;
  transition: .5s;

  /* height: 50vh; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  /* flex-shrink: 3; */
  text-align: center;
  right: auto;
  position: fixed;
  transform: translateX(-50%);
  top: 16px;
  /* left: 50%; */
  margin-left: 37vw;
  width: 80vw;
  height: 80vh;
  /* height: max-content; */
  color: #000;
  z-index: 300;

}

.edit-modal-form{
  width: 78vw;
  height: 80vh;
}

.edit-modal-background {
  width: 100vw;
  height: 100vh;
  z-index: 200;
  bottom: 0;
  background-color: #000;
  opacity: .7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0; 
}

.resModalCloseBtn {
  width: 20px;
  height: 20px;
  margin: 14px;
  z-index: 301;
  position: absolute;
  top: 5px;
  right: 5px;
  display: inline-block;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: 20px auto;
  background-position: 50%;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

h2.form-title {
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 3vw;
  text-align: center;
}

.edit-skellie-label {
  margin-bottom: -5vh;
}

h2.edit-skellie-label-text {
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  margin-left: 18vw;
  margin-bottom: -3vh;
}

input.edit-skellie-input {
  width: 45vw;
  height: 2.75vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -5vh;
  align-items: center;
  /* justify-content: center; */
  /* justify-items: center; */
  background-color: #30303000;
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  font-weight: 400;
  border: #c3c3c3;
  border-style: solid;
  border-width: 1px;
  border-radius: 75px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea.edit-skellie-input {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #30303000;
  border-radius: 15px;
  width: 45vw;
  height: 3em;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  border: #c3c3c3;
  border-style: solid;
  border-width: 1px;
  align-self: center;
  /* margin-left: 2vw;
    margin-right: 2vw; */
  z-index: 0;
}

#edit-collaborator-select {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  height: 15em;
  /* padding-left: 2vw;
  padding-right: 2vw; */
  padding-bottom: 5vh;
  border-radius: 25px;
}

div.multiselect-container, div.search-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 25em;
  height: 15em;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 5vh;
  border-radius: 25px;
}

input#edit-skellie-submit-button {
  margin-bottom: 10.05vh;
}