.main-page {
  background-color: rgb(35, 51, 91);
  font-family: Inter, sans-serif;
  color: white;
  align-items: center;
  display: flex;
}

.body {
  background-color: rgb(35, 51, 91);
font-family: Inter, sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;    
}