div.general-profile-container {
  /* align-items: center; */
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-left: 4vw;
  padding-right: 4vw;
  justify-content: space-between;
}

h1.current-user-greeting, h2.current-user-sub-greeting, ul.current-user-options {
  font-family: Inter, sans-serif;

}

h1.current-user-greeting {
  font-size: 3vw;
}

h2.current-user-sub-greeting {
  margin-top: 2vh;
  font-size: 1.5vw;
}

span#current-user-username {
  /* font-style: oblique; */
  font-weight: 600;
}

hr.current-user-hr {
  width: 33vw;
  margin-left: 0vw;
  margin-right: auto;
}

li.user-option {
  margin-top: 2vh;

}

div.general-profile-left {
  width: min-content;
  margin-top: 20vh;
  margin-left: 4vw;
}

div.general-profile-right {
  margin-top: 2vh;
  width: 1vw;
  height: 5vw;
  margin-right: 45vw;
  /* margin-left: 5vw; */
}

img#skull-buddy-ani {
  object-fit: contain;
  width: 45vw;
  height: 45vw;
  transition: 1s;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #979cc6;
}

img#skull-buddy-ani:hover {
  transition: 1s;
  box-shadow: 0px 0px 10px #979cc6;
  filter: hue-rotate(275deg);
}

div#current-user-whitespace > br.whitespace {
  margin-bottom: 20vw;
} 

